.container {
    border: 1px solid;
}

 .container .second{ /* descendant */
    background-color: aqua;
}

.container > p{  /* child */
    background-color: greenyellow;
}

.container ~ p{  /* general sibling */
    background-color: royalblue;
}

.container ~ .fifth{   /* adjacent sibling */
    background-color: red;
}