<STYLE>
A.hover
{
    COLOR: blue;
    BACKGROUND-COLOR: pink;
    TEXT-DECORATION: underline
}
LI EM
{
    FONT-WEIGHT: bold;
    COLOR: red
}
UL
{
    MARGIN-LEFT: 45px;
    COLOR: blue
}
UL UL
{
    MARGIN-LEFT: 15px;
    COLOR: red
}
</STYLE>